@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --background2: #ededed;
  --foreground: #171717;
  --foreground2: #383838;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --background2: #383838;
    --foreground: #ededed;
    --foreground2: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
